[flake8]
max-line-length = 88
format = %(path)s - %(row)d:%(col)-6d  [%(code)s] %(text)s

# check https://pycodestyle.pycqa.org/en/latest/intro.html for error code list
# it's not a bug that we aren't using all of hacking, ignore:
# E402: module level import not at top of file
ignore = E402
