# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-json
    - id: check-yaml
    - id: check-merge-conflict
    - id: detect-private-key
    # - id: no-commit-to-branch
    #   args: [--branch, master]
- repo: https://github.com/ambv/black
  rev: stable
  hooks:
    - id: black
      language_version: python3.8
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.0
  hooks:
    - id: flake8
