# -*- coding: utf-8 -*-
--index-url https://pypi.org/simple
aiohttp>=3.7.4
# aiodns    # other library related to aiohttp
# cchardet  # other library related to aiohttp
uvloop>=0.16.0

# some other asynio libraries
# aiofiles  # for file
# umongo    # for mongodb
# asyncpg   # for postgres
# asyncio-redis # for redis
